.one-third.column
  h3 Timeline
  img(src="/images/myseeen.png", align="left", style="margin-top: 10px; margin-right: 25px; margin-left: 15px") 
  h5
    a(href="http://www.myseeenapp.com", target="_blank") MySeeen
  h6 Co-Founder, iOS Dev
  p 
   | February 2012 to now
  img(src="/images/google.png", align="left", style="margin-top: 17px; margin-right: 10px") 
  h5
    a(href="http://google.com", target="_blank") Google
  h6 iOS engineer
  p
   | February 2013 to July 2013
  img(src="/images/wayzup-logo.png", align="left", style="margin-top: 10px; margin-right: 10px")  
  h5 
  a(href="http://www.wayz-up.com", target="_blank") Wayz-Up
  h6 Mobile Development Manager
  p 
   | June 2012 to May 2013
  img(src="/images/sage-logo.png", align="left", style="margin-top: 15px; margin-right: 10px;") 
  h5
   a(href="http://sage.fr", target="_blank") Sage
  h6 Mobile Technologies Developer
  p 
   | September 2011 to June 2012
  img(src="/images/raven-logo.png", align="left", style="margin-top: 15px; margin-right: 30px")
  h5
   a(href="http://raven.io", target="_blank") RavenCo Software
  h6 Co-Founder, Lead Developer
  p 
   | April 2011 to May 2012
  img(src="/images/sage-logo.png", align="left", style="margin-top: 15px; margin-right: 10px")
  h5 
   a(href="http://sage.fr", target="_blank") Sage
  h6 Functional Manager
   September 2009 to August 2011
  hr
.one-third.column
  h3 Skills
  h5 Compiled Languages
  p
   | Objective-C/C/C++, JAVA (Android)
  p
   | Design patterns, algorithm optimization, compilation, code analysis
  h5 Web Languages
  p
   | HTML/XHTML, CSS, MySQL, PHP, RAILS
  h5 Library & Framework
  p
   | Cocoa (Appkit/UIKit), Qt, JQuery...
  h5 CMS
  p 
   | Wordpress, Liferay, Drupal, Joomla 
  h5 Other
  p
   | Strongly passionate about pixel perfect and beautiful user interface 
  p
   | User experience must be the center of gravity of the application
  hr