.two-third.column
 h3 Bio
 p
  | I'm an applications developer with an eye for originality a flair for translating concepts to 
  | innovative results
 p
  | Originally a web developer (HTML, PHP, MySQL...) now, I also write native applications in Objective-C, 
  | and decided to make it my field of specialization. I love giving birth to your UI mock-up by coding them in Cocoa. 
 p 
  | I Co-founded 
  a(target="_blank", href="http://myseeenapp.com") MySeeen
  | , currently this is an iOS Application. 
  | Our main purpose is to let you collect movies you want to see and you've already seen, 
  | reviews them and share them with your friends. 
  | A first version of MySeeen is now available on the 
  a(href="https://itunes.apple.com/fr/app/myseeen/id583388347?mt=8", target="_blank") App Store
 p
  | I love to work in startup and contribute to ambitious projects but I also worked in big companies, I worked 3 years at 
  a(href="http://sage.com", target="_blank") Sage
  |  and at 
  a(href="http://google.com", target="_blank") Google
  |  for 6 months.
 p
  | In the past I've worked with Kevin Milden on 
  a(href="http://raven.io", target="_blank") Raven
  |  (now named Robin, we co-founded it), the next generation browser. We believe that browsers as they are now need a refresh, 
  | so we took the risk to bring to you something totally new. Something that is at the end, more than a browser. 
  | You can find more information 
  a(target="_blank", href="http://raven.io") here
  | . It was more a proof of concept, it never past the beta phase due to ressources shortage.
 p
  | Raven was featured on a lot of websites, we've got extremely good feedbacks: 
  a(href="http://news.ycombinator.com/item?id=3093173", target="_blank") Hacker News
  |  | 
  a(href="http://thenextweb.com/apps/2011/10/10/raven-a-new-browser-for-the-mac-that-turns-your-favorite-sites-into-apps/", target="_blank") The Next Web
  |  | 
  a(href="http://lifehacker.com/5848257/raven-is-a-new-browser-for-mac-that-turns-sites-into-apps?tag=mac-downloads", target="_blank") Lifehacker
  |  |
  a(href="http://thecloudwatch.blogspot.com/2011/10/raven-evolution-of-browsers.html", target="_blank") Cloud Watching
  |  | 
  a(href="http://technolog.msnbc.msn.com/_news/2011/10/10/8253359-new-mac-browser-raven-nevermore-app-less", target="_blank") MSNBC
  |  | 
  a(href="http://www.technoflames.com/unique-raven-browser-mac-review/", target="_blank") Technoflames
  |  | 
  a(href="http://mac.appstorm.net/reviews/internet-reviews/raven-site-specific-browsing-like-youve-never-seen-it/", target="_blank") Mac.AppStorm
  |  | 
  a(href="http://www.digitaltrends.com/apple/hands-on-with-raven-an-app-centric-web-browser-for-os-x/", target="_blank") Digital Trends
  |  |
  a(href="http://www.shinyshiny.tv/2011/10/raven_mac_browser_turns_sites_into_apps.html", target="_blank") Shiny Shiny
  |  | 
  a(href="http://webbeat.tv/raven-new-browser-that-combines-fluid-and-rockmelt/", target="_blank") WebBeat.tv
  |  | 
  a(href="http://www.macgeneration.com/unes/voir/130492/interview-de-thomas-ricouard-createur-du-navigateur-raven", target="_blank") My interview for MacGeneration
  |  | 
  a(href="http://thenextweb.com/apps/2011/11/01/mac-web-browser-raven-is-flying-with-100000-in-app-installs-in-3-weeks/", target="_blank") The Next Web part 2
  |  | 
  a(href="http://www.cultofmac.com/131970/raven-browser-offers-new-ideas/", target="blank") Cult Of Mac
  |  and many more...
 hr
 h3 You can find me here
 a(target="_blank", href="http://twitter.com/Dimillian") 
  img(alt ="twitter", src="/images/twitter_32.png")
 a(target="_blank", href="http://facebook.com/timy77")
  img(alt ="Facebook", src="/images/facebook_32.png")
 a(target="_blank", href="http://www.youtube.com/dominator776")
  img(alt="youtube", src="/images/youtube_32.png")
 a(target="_blank", href="http://fr.linkedin.com/in/dimillian")
  img(alt="linkedin", src="/images/linkedin_32.png")
 a(target="_blank", href="http://www.google.com/profiles/Ricouard77")
  img(alt="google", src="/images/google_32.png")
 a(target="_blank", href="http://itunes.apple.com/fr/artist/thomas-ricouard/id372456982")
  img(alt="AppStore", src="/images/appstore.jpg")
 a(target="_blank", href="http://codingmotherfucker.tumblr.com")
  img(alt ="tumblr", src="/images/tumblr.png")
 a(target="_blank", href="http://www.zerply.com/profile/Dimillian")
  img(alt="zerply", src="/images/zerply.png")
 a(href="http://stackoverflow.com/users/250578/dimillian77")
  img(src="http://stackoverflow.com/users/flair/250578.png", width="208", height="58", alt="profile for Dimillian77 at Stack Overflow, Q&amp;A for professional and enthusiast programmers", title="profile for Dimillian77 at Stack Overflow, Q&amp;A for professional and enthusiast programmers")
 hr
 h3 Bonus
 p
  | You can 
  a(target="_blank", href="/file/CV_thomas_ricouard_2013.pdf") download
  |  my CV to have more information about my skills and interests. (Only in French for now)
 a(target="_blank", align="center", href="/file/CV_thomas_ricouard_2013.pdf", class="button") Bonus: Download My CV
 hr
