.two-third.column
 h3 Contact
 p
 img(alt="email", src="images/email_16.png")
 |  You can send me an email at 
 a(href="mailto:ricouard77@gmail.com")  ricouard77@gmail.com
 br
 hr
 p
 img(alt="twitter", src="images/twitter_16.png")
 |  Leave me a mention on 
 a(target="_blank", href="http://twitter.com/Dimillian") twitter
 hr
 div.
  <blockquote class="glose-sentence"> <p>It’s even for people stuck in day jobs who have always dreamed about doing their own thing.</p> &mdash; <a href="https://glose.com/book/rework/chapter-1-first/175/c9c39#51753b00d228eb21cab1ba20">Quote</a> from <a href="https://glose.com/book/rework">Rework</a> by Jason Fried (via <a href="https://glose.com/">Glose</a>)</blockquote>
  <blockquote class="glose-annotation"> <p>Book culture is not print fetishism; it is the swirl and gurgle of idea and style in the expression of stories and concepts—the conversation, polemic, narrative force that goes on within and between texts, within and between people as they write, revise, discover, and respond to those texts.</p> &mdash; Quote from <a href="https://glose.com/book/business-of-litterature">What Is the Business...</a> by Richard Nash (via <a href="https://glose.com/">Glose</a>)  <p>We strongly believe in that at <a href="/glose">@glose</a> and want to contribute to that vibrant creation of culture CC <a href="/julien">@julien</a> <a href="/dimillian">@dimillian</a> <a href="/arthur">@arthur</a> </p> &mdash; <a href="https://glose.com/book/business-of-litterature/what-is-the-business-of-literature/53190bc060689edd76c1e718">Annotation</a> by Nicolas Princen (@NPrincen)</blockquote>
.one-third.column
 a(class="twitter-timeline", href="https://twitter.com/Dimillian", data-widget-id="243464719829172224") Tweets by @Dimillian
 script(type="text/javascript").
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
