.two-third.column
 h3 Contact
 p
 img(alt="email", src="images/email_16.png")
 |  You can send me an email at 
 a(href="mailto:ricouard77@gmail.com")  ricouard77@gmail.com
 br
 hr
 p
 img(alt="twitter", src="images/twitter_16.png")
 |  Leave me a mention on 
 a(target="_blank", href="http://twitter.com/Dimillian") twitter
 hr
.one-third.column
 a(class="twitter-timeline", href="https://twitter.com/Dimillian", data-widget-id="243464719829172224") Tweets by @Dimillian
 script(type="text/javascript").
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
