.sixteen.columns
 img(src="/images/me.png", align="left", style="margin-top: 40px; margin-right: 10px", id="avatar")
 h1(class="remove-bottom", style="margin-top: 40px") Thomas Ricouard
 h5 iOS/Mac and Web developer (Now also Android
 hr
