extend layout
block content
 ul(class="tabs-content")
  li(class="active", id="simpleTab")
   include aboutme
   include aboutme-sidebar
  li(id="portfolioTab")
   include portfolio/portfolio-a
   include portfolio/portfolio-b
   include portfolio/portfolio-c
  li(id="contactTab")
   include contact
