!!!5
html
 head
  title Login
  script(src="/js/jquery-1.5.1.min.js")
  script(src="/js/app.js")
  link(rel='stylesheet', href='/css/base.css')
  link(rel='stylesheet', href='/css/skeleton/skeleton.css')
  link(rel='stylesheet', href='/css/custom.css')
  body
   .container
    h1= Login
    .two-third.column
    - if (error)
    p= error
     form( method="post")
      div
       div
        span Username :
        input(type="text", name="username", id="loginUsername")
       div
        span Password :
        input(type="password", name="password", id="loginPassword")
       div#loginSubmit
        input(type="submit", value="Login", name="loginPost")
       div#registerSubmit
        input(type="submit", value="Create user", name="registerPost")