ul(class="tabs")
 li
  a(class="active", href="#simple") About me
 li
  a(href="#portfolio") Portfolio
 li
  a(href="showcase") Screens
 li
  a(href="#contact") Contact
 li
  a(href="http://blog.thomasricouard.info") Blog
 - if (user && user.role == 1)
  li
   a(href="admin") Admin
