extend layout
block content
 ul(class="tabs-content")
  li(class="active", id="ravenTab")
   img(src="appscreens/r1.png")
   br
   hr
   img(src="appscreens/r2.png")
   br
   hr
   img(src="appscreens/r3.png")
  li(id="wayzupTab")
   .one-third.column
    img(src="appscreens/wz1.png")
   .one-third.column
    img(src="appscreens/wz2.png")
   .one-third.column
    img(src="appscreens/wz3.png")
  li(id="myseeenTab")
   .one-third.column
    img(src="appscreens/ms1.png")
   .one-third.column
    img(src="appscreens/ms2.png")
   .one-third.column
    img(src="appscreens/ms3.png")
  li(id="socialquestionsTab")
   .one-third.column
    img(src="appscreens/sq1.png")
   .one-third.column
    img(src="appscreens/sq2.png")
   .one-third.column
    img(src="appscreens/sq3.png")
  li(class="active", id="redpinTab")
   .one-third.column
    img(src="appscreens/rp1.png")
   .one-third.column
    img(src="appscreens/rp2.png")
   .one-third.column
    img(src="appscreens/rp3.png")
