extend layout
block content
 ul(class="tabs-content")
  li(class="active", id="ravenTab")
    each val in [1, 2, 3]
      img(src="appscreens/r" + val +".png")
      br
      hr
  li(id="swifthnTab")
    each val in [1, 2, 3]
      .one-third.column
        img(src="appscreens/shn" + val +".png")
  li(id="wayzupTab")
    each val in [1, 2, 3]
      .one-third.column
        img(src="appscreens/wz" + val +".png")
  li(id="myseeenTab")
    each val in [1, 2, 3]
      .one-third.column
        img(src="appscreens/ms" + val +".png")
  li(id="socialquestionsTab")
    each val in [1, 2, 3]
      .one-third.column
        img(src="appscreens/sq" + val +".png")
  li(id="redpinTab")
    each val in [1, 2, 3]
      .one-third.column
        img(src="appscreens/rp" + val +".png")
