.one-third.column
  h3 GitHub / Source
  h5 
    a(href="http://dimillian.github.io/DMRESTRequest-objc/") DMRESTRequest
  | I have shared one of my most used classes across a good number of my own projects. It is called 
  a(href="http://dimillian.github.io/DMRESTRequest-objc/") DMRESTRequest. 
  |  It is a simple and little set of classes which allow you to make HTTP REST Request to any server easily, delegate or block. Nothing fancy here, just a utility that you can enhance to make it fit your projects.
  br
  hr
  h5 
    a(href="https://github.com/Dimillian/DMFilterView") DMFilterView
  | An Objective-C custom conntrol. DMFilterView is a subclass of UIView, it look like a UITabBar but it much more lighter to implement
  br
  hr
  h5 
    a(href="https://github.com/Dimillian/DMSocialContactsList") DMSocialContactsList
  | An Objective-C contacts picker example which fetch local and Facebook contacts, merge and sort them. Plus handle selection and live search. Useful to send SMS, Email, Facebook invitation. It is not a ready to use library, it is more an example and should be used that way.
  br
  hr
  h3 Websites
  h5 Wayz-Up
  a(href="http://www.wayz-up.com") Wayz-Up
  |  is the website for the next generation mobile carpooling application. I made this website with on rails, hosted on heroku.
  hr
  h5 iPodTutoFast.com
  | My blog about iDevices world and news 
  a(href="http://ipodtutofast.com") iPodTutoFast
  |  Note: iPodTutoFast is not owned by myself anymore.
  hr
  h5 Villa des bordes
  a(target="_blank", href="http://www.villa-des-bordes.fr") The website
  |  of my parent's Bed and Breakfast, this is where I live at the moment too. 
  hr
