.one-third.column
  h3 Mac OS X Applications
  h5 Raven/Robin for Mac
  img(src="images/Raven.png", align="left", style="margin-right: 10px")
  a(href="http://raven.io",target="_blank") Raven (now named Robin)
  | is a browser (at the moment only for Mac OS X)with some neat features, we made something called "site-specific browsing". The Smart Bar provides a whole new level of multitasking within a single window. Combined with our Web App Shop, customers will be able to discover and download web apps within a single click. Our goal is to make the web fun by packaging it in a friendly way consumers will enjoy. We're still at early beta! 
  | Featured on:
  a(href="http://news.ycombinator.com/item?id=3093173", arget="_blank") Hacker News
  |  | 
  a(href="http://thenextweb.com/apps/2011/10/10/raven-a-new-browser-for-the-mac-that-turns-your-favorite-sites-into-apps/", arget="_blank") The Next Web
  |  | 
  a(href="http://lifehacker.com/5848257/raven-is-a-new-browser-for-mac-that-turns-sites-into-apps?tag=mac-downloads", arget="_blank") Lifehacker
  |  |  
  a(href="http://thecloudwatch.blogspot.com/2011/10/raven-evolution-of-browsers.html", arget="_blank") Cloud Watching
  |  |  
  a(href="http://technolog.msnbc.msn.com/_news/2011/10/10/8253359-new-mac-browser-raven-nevermore-app-less") MSNBC
  |  | 
  a(href="http://www.technoflames.com/unique-raven-browser-mac-review/", arget="_blank") Technoflames
  |  | 
  a(href="http://mac.appstorm.net/reviews/internet-reviews/raven-site-specific-browsing-like-youve-never-seen-it/", arget="_blank") Mac.AppStorm
  |  |  
  a(href="http://www.digitaltrends.com/apple/hands-on-with-raven-an-app-centric-web-browser-for-os-x/", arget="_blank") Digital Trends
  |  | 
  a(href="http://www.shinyshiny.tv/2011/10/raven_mac_browser_turns_sites_into_apps.html", arget="_blank") Shiny Shiny
  |  |  
  a(href="http://webbeat.tv/raven-new-browser-that-combines-fluid-and-rockmelt/", arget="_blank") WebBeat.tv
  |  | 
  a(href="http://www.macgeneration.com/unes/voir/130492/interview-de-thomas-ricouard-createur-du-navigateur-raven", target="_blank") My interview for MacGeneration
  |  |  
  a(href="http://thenextweb.com/apps/2011/11/01/mac-web-browser-raven-is-flying-with-100000-in-app-installs-in-3-weeks/", arget="_blank") The Next Web part 2
  |  |   
  a(href="http://www.cultofmac.com/131970/raven-browser-offers-new-ideas/") Cult Of Mac 
  hr
  h5 Social questions for Mac
  img(src="images/Quora.png", align="left", style="margin-right: 10px")
  | Social Questions (Same name as the Quora client on iOS) is also available on the Mac App Store. You can find it 
  a(target="_blank", href="http://itunes.apple.com/us/app/social-questions/id424936851?mt=12") here
  |. It is a very simple client (due to the limited Quora API), it will show an icon with a menu in your Mac status bar and display quick shortcuts alongside with live notifications (support growl!).
  hr
