.one-third.column
  h3 iOS Applications
  h5 Wayz-Up for iOS/Android
  img(src="images/wayzup.png", align="left", style="margin-right: 10px")
  a(href="http://www.wayz-up.com",target="_blank") Wayz-Up
  |  is an iOS/Android application that made carpooling costs sharing easier. The application records and calculates your ride cost. At the end you'll have a fair cost per passenger. In the near future you'll be able to share ride cost using mobile payment right from the application...
  hr
  h5 MySeeen for iOS
  img(src="images/myseeen.png", align="left", style="margin-right: 10px") MySeeen is available on the 
  a(href="https://itunes.apple.com/fr/app/myseeen/id583388347?mt=8", target="_blank") App Store 
  | , you can get more information 
  a(href="http://www.myseeenapp.com/") here
  |  The application is all about Watching, sharing and liking movies. The application concept and design is from 
  a(href="http://www.vegazvegaz.com/") Julien Poirier.
  br
  | Previews: 
  a(target="_blank", href="http://pixelsapp.com/2012/06/18/myseeen-une-postproduction-succes/") PixelApp
  |  |  
  a(target="_blank", href="http://www.welovemac.net/2012/06/15/preview-myseeen-fait-son-cinema/") Welovemac 
  |  |  
  a(target="_blank", href="http://www.reactif.net/coup-doeil-myseeen-lapp-des-cinephiles") Reactif
  hr
  h5 Social questions for iOS
  | Pulled from the App Store, Quora have its official client now
  img(src="images/Quora.png", align="left", style="margin-right: 10px")
  | I released an iPhone/iPad application called 
  a(target="_blank", href="http://itunes.apple.com/fr/app/social-questions/id415504188?mt=8") Social Questions
  |  , the app warp the mobile website of Quora and display it in a fast and lite application. The applications also add cool features like bookmarks and local notifications. It was featured on 
  a(target="_blank", href="http://techcrunch.com/2011/01/27/social-questions-quora-gets-an-unofficial-iphone-app/") Techcrunch
  | ! And some 
  a(target="_blank", href="http://shippingapps.net/560434/quora-finally-endorses-an-iphone-app-as-the-social-media-world-awaits-an-official-version-appolicious") other 
  a(target="_blank", href="http://appadvice.com/appnn/2011/01/quora-unofficial-iphone-client") sites.
  hr
  h5 Redpin for iOS
  img(src="images/redpin.png", align="left", style="margin-right: 10px")
  | Redpin is a school project, the application is a client for an homemade REST server, it have the same functionalities as the 
  a(href="http://redpinsite.ipodtutofast.com/", target="_blank") website
  | . Redpin for iOS is a craiglist like application which conform to the Apple iOS UI guideline. It offer rich features packaged in a  clean interface. 
  hr
  h5 iManager
  img(src="images/imanager.png", align="left", style="margin-right: 10px") 
  | I have an application in the App Store called 
  a(target="_blank", href="http://itunes.apple.com/fr/app/imanager/id372456979?mt=8") iManager
  |  (Manage your domain/server hosted at OVH with your iPhone/iPad), made in collaboration with 
  a(href="http://www.virtual-info.info") Virtual-info
  hr